<h4>商品新規登録</h4>

<%= form_with model:@item, url:'/admin/items/new', local:true do |f| %>

  <div class="field">
    <%= f.label :商品画像 %>
    
  </div>
  
  <div class="field">
    <%= f.label :商品名 %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :商品説明 %>
    <%= f.text_area :introduction %>
  </div>
  
  <div class="field">
    <%= f.label :ジャンル %>
    <%= f.select :name, ['--選択してください--', 'ケーキ', '焼き菓子', 'プリン', 'キャンディ'] %>
  </div>
  
  <div class="field">
    <%= f.label :税抜価格 %>
    <%= f.text_field :price %>円
  </div>
  
  <div class="field">
    <%= f.label :販売ステータス %>
    <!--合っているかわからない-->
    <%= f.radio_button :active, true, checked: true %>
    <%= f.label :active, '販売中', value: true %>
    
    <%= f.radio_button :not_active, :false %>
    <%= f.label :not_active, '販売停止中', value: false %>
  </div>
  
  <%= f.submit "新規登録", class:'btn btn-success' %>

<% end %>