
<div>
  <p>image</p>
  <p>商品名：<%= @item.name %></p>
  <p>商品説明：<%= @item.introduction %></p>
  <p>ジャンル：<%= @item.genre %></p>
  <p>税込み価格：<%= @item.price %></p>
  <p>販売ステータス：<%= @item.is_active %></p>
  
  <%= button_to "編集する", {controller: 'items', action: 'edit',{method: :get} %> 
</div>
