<h4>注文履歴詳細</h4>
<!--書き直す！-->

  <div class="order">
    <span>購入者</span>
    <%= @order.name %>
  </div>
  
  <div class="order">
    <span>注文日</span>
    <%= @order.created_at %>
  </div>
  
  <div class="customer">
    <span>配送先</span>
  〒<%= @order.postal_code %>
    <%= @order.address %>
    <%= @order.name %>
  </div>
  
  <div class="customer">
    <span>支払方法</span>
      <% if @order.payment_method == "credit_card" %>
       <p>クレジットカード</p>
       <% elsif @order.payment_method == "transfer" %>
       <p>銀行振込</p>
       <% end %>
  </div>
  
  <div class="customer">
    <span>注文ステータス</span>
    
    <% if @order.order_status == "wait" %>
        <p>入金待ち</p>
        <% elsif order.order_status == "confirmed" %>
        <p>確認</p>
        <% elsif order.order_status == "making" %>
        <p>制作中</p>
        <% elsif order.order_status == "preparation" %>
        <p>準備中</p>
        <% elsif order.order_status == "sent" %>
        <p>発送済み</p>
        <% end %>
  </div>
  
  <%= link_to '更新', class: 'btn btn-success' %>
  
  <table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to '更新', class: 'btn btn-success' %></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr><th>商品合計</th><td></td></tr>
    <tr><th>送料</th><td></td></tr>
    <tr><th>請求金額合計</th><td></td></tr>
  </thead>
</table>
  
  
  
  