<h4>ジャンル一覧・追加</h4>

<%= form_with model:@genre, url:'/admin/genres', local:true do |f| %>
    <%= f.label :ジャンル名 %>
    <%= f.text_field :genre %>
    <%= f.submit "新規登録", class:'btn btn-success' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @genre.name %><button type="button" class="btn btn-success">Success</button></td>
      <td><%= @genre.name %></td>
      <td><%= @genre.name %></td>
      <td><%= @genre.name %></td>
    </tr>
  </tbody>
</table>