<h4>ジャンル一覧・追加</h4>

<%= form_with model:@genre, url:'/admin/genres', local:true do |f| %>
    <%= f.label :ジャンル名 %>
    <%= f.text_field :name %>
    <%= f.submit "新規登録", class:'btn btn-success' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @genres.each do |genre| %>
      <td>
        <%= genre.name %>
        <%= button_to '編集する', edit_admin_genre_path(@genre), {method: :get, class: 'btn btn-success'} %>
      </td>
      <% end %>
      
    </tr>
  </tbody>
</table>